<a href="https://colab.research.google.com/github/rmishra-cloud/Datavisualization/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.Write a Python program to print "Hello, World!"

In [1]:
print("Hello, World!")

Hello, World!

#2. Write a Python program that displays your name and age.

In [2]:
name = "John"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is John and I am 25 years old.

#3. Write code to print all the pre-defined keywords in Python using the keyword library

In [3]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

# 4. Write a program that checks if a given word is a Python keyword.

In [5]:
import keyword
word = input("Enter a word: ")
if keyword.iskeyword(word):
    print(f"'{word}' is a Python keyword.")
else:
    print(f"'{word}' is not a Python keyword.")

Enter a word: False
'False' is a Python keyword.

# 5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.

In [6]:
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

# Modifying the list
my_list[0] = 10
print("Modified list:", my_list)

# Trying to modify the tuple
try:
    my_tuple[0] = 10
except TypeError as e:
    print("Error:", e)

Modified list: [10, 2, 3]
Error: 'tuple' object does not support item assignment

# 6. Write a function to demonstrate the behavior of mutable and immutable arguments.

In [7]:
def modify_objects(mutable, immutable):
    mutable.append(4)
    immutable += 1
    print("Inside function - Mutable:", mutable, "Immutable:", immutable)

my_list = [1, 2, 3]
my_num = 5

modify_objects(my_list, my_num)
print("Outside function - Mutable:", my_list, "Immutable:", my_num)

Inside function - Mutable: [1, 2, 3, 4] Immutable: 6
Outside function - Mutable: [1, 2, 3, 4] Immutable: 5

# 7. Write a program to demonstrate the use of logical operators.

In [8]:
x, y = True, False
print("x and y:", x and y)
print("x or y:", x or y)
print("not x:", not x)

x and y: False
x or y: True
not x: False

# 8. Write a Python program to convert user input from string to integer, float, and boolean types.

In [12]:
user_input = input("Enter a value: ")
print("As integer:", int(user_input))
print("As float:", float(user_input))
print("As boolean:", bool(user_input))

Enter a value: 15
As integer: 15
As float: 15.0
As boolean: True

# 9. Write code to demonstrate type casting with list elements.

In [13]:
my_list = ["1", "2", "3"]
int_list = list(map(int, my_list))
print("Original list:", my_list)
print("List after type casting:", int_list)

Original list: ['1', '2', '3']
List after type casting: [1, 2, 3]

# 10. Write a program that checks if a number is positive, negative, or zero.

In [14]:
num = float(input("Enter a number: "))
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: -5
The number is negative.

# 11. Write a for loop to print numbers from 1 to 100.

In [15]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 12 Write a Python program to find the sum of all even numbers between 1 and 500.

In [16]:
even_sum = sum(i for i in range(1, 501) if i % 2 == 0)
print("Sum of all even numbers between 1 and 500:", even_sum)

Sum of all even numbers between 1 and 500: 62750

# 13 Write a program to reverse a string using a while loop.

In [17]:
string = input("Enter a string: ")
reversed_string = ""
i = len(string) - 1
while i >= 0:
    reversed_string += string[i]
    i -= 1
print("Reversed string:", reversed_string)

Enter a string: Aamir
Reversed string: rimaA

# 14. Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [19]:
num = int(input("Enter a number: "))
factorial = 1
while num > 0:
    factorial *= num
    num -= 1
print("Factorial:", factorial)

Enter a number: 45
Factorial: 119622220865480194561963161495657715064383733760000000000